<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TwitterAPI</key>
	<dict>
		<key>ConsumerKey</key>
		<string>YOUR CONSUMER KEY HERE</string>
		<key>ConsumerSecret</key>
		<string>YOUR CONSUMER SECRET HERE</string>
	</dict>
</dict>
</plist>
